@import "assets/px2rem.styl"
@import "assets/base.styl"

html {
  font-size: (100vw / (300 / 12)); // ( 100 / (750 / 12)) = 1.6vw
}

.iconfont {
  font-size: 20px;
}

.icon-plus,
.icon-xiazai {
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
}